<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superflag Bowl I</title>
    <link type="text/css" rel="stylesheet" href="vendor/components/flag-icon-css/css/flag-icon.min.css">
    <link type="text/css" rel="stylesheet" href="templates/flag-template.css">

    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
</head>
<body>
<header>
    <h1>The Legends of Superflag Bowl I</h1>
    <span id="sub-head"></span>
</header>
<main>
    <f:for each="{Flags}" as="Flag">
        <h2>{Flag.name}</h2>
        <ul>
            <div>
                <li><strong>Price:</strong> {Flag.price}</li>
                <li><strong>Width:</strong> {Flag.width}</li>
                <li><strong>Height:</strong> {Flag.height}</li>
                <li><strong>Color:</strong> {Flag.color}</li>
            </div>
            <div>
                <li>
                    <span class="flag-icon flag-icon-{Flag.langcode}"
                          style="margin-right: 0; margin-left: auto; display: block;"></span>
                </li>
            </div>
        </ul>
        <hr>
    </f:for>
</main>
</body>
<footer>
    <small>https://github.com/SabrinaNovak/Superflag_Bowl_I</small>
</footer>
</html>